.mainHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   border-bottom: 2px solid #ccc;
}

.logo {
   height: 4rem;
   max-width: 4rem;
   object-fit: contain;
   object-position: left;
}

.nav {
   display: flex;
   gap: 2rem;
}

.link {
   font-size: 1.5rem;
   text-decoration: none;
   color: black;
   padding: 0.5rem 1rem;
}

.link:hover {
   color: white;
   background-color: black;
   padding: 0.5rem 1rem;
   border-radius: 1.3em;
}