.footer {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    align-items: center;
    padding: 2rem;
    border-top: 1px solid #ccc;
    gap: 1rem;
}

.footer>p {
    font-size: 1rem;
    text-align: center;
}

.logo {
    width: 2rem;
    height: 2rem;
}