.myContacts {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 2px solid #ccc;

}

.contactMe {
    font-weight: 700;
    font-size: large;  
    
}